BasedOnStyle: LLVM

IndentWidth: 4
TabWidth: 4
UseTab: Never

ColumnLimit: 100
ContinuationIndentWidth: 4
AlignAfterOpenBracket: BlockIndent
NamespaceIndentation: All
AllowAllParametersOfDeclarationOnNextLine: true
BinPackParameters: false
BinPackArguments: false

DerivePointerAlignment: false
PointerAlignment: Left
ReferenceAlignment: Left

AlwaysBreakAfterReturnType: All
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: None

AccessModifierOffset: -4